.headerNAv {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgba(0, 169, 199, 1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  color: white;
  /* border: 2px solid white; */
  /* box-shadow-bottom: 5px #000; */
}

.title {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  padding: 0;
  margin: 0;
  margin-left: 120px;
}
