.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  /* align-items: baseline; */
  color: rgba(0, 0, 0, 0.7);
}

@keyframes changeIconColor {
  0% {
    fill: rgba(0, 0, 0, 0.7);
  }

  50% {
    fill: rgba(0, 169, 199, 1);
  }

  100% {
    fill: rgba(0, 0, 0, 0.7);
  }
}

.item:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.7);
  scale: 1.02;
  transition: scale 400ms linear;
}

.contact {
  display: block;
  margin: 0;
  padding-top: 4px;
  font-size: 18px;
  /* width: 200px; */
}
.button {
  border-radius: 5px;
  font-size: 18px;
}

.button:hover,
.button:focus {
  border-color: red;
  border-width: 1px;
  box-shadow: 0px 0px 3px 3px rgba(235, 7, 7, 0.88);
}

.button:hover .button_icon {
  fill: red;
}

.button_icon {
  vertical-align: middle;
  padding-bottom: 3px;
}

.Loader {
  width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.trashIcon:hover {
  fill: rgba(157, 4, 4, 0.88);
}

.call {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 5px;
}

.call:hover {
  color: rgba(0, 169, 199, 1);
  animation: changeIconColor 2s infinite;
}
