.userMenuBox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.User {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.Logout {
  font-size: 32px;
  fill: rgba(118, 203, 240, 1);
}

.Logout:hover {
  fill: white;
}
